{% extends "base.html.twig" %}

{% block body_id 'user_reset_password' %}

{% block main %}
    <h1>Reset  Password</h1>

    {{ form_start(form) }}
    {{ form_row(form.oldPassword) }}
    {{ form_row(form.newPassword) }}
    {{ form_row(form.newPassword) }}
    <input type="submit" value="change it!" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
