<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>YESKN.COM | 夜色空凝</title>
    <script>
        var loadingDiv = document.createElement("div");
        loadingDiv.setAttribute('class', 'loading');
        loadingDiv.style.position = 'fixed';
        loadingDiv.style.top = '45%';
        loadingDiv.style.left = '50%';
        loadingDiv.style.marginLeft = '-64px';
        var imgNode = document.createElement('img');
        imgNode.setAttribute('src', 'https://static.yeskn.com/loading.gif');
        imgNode.setAttribute('alt', '正在加载...');
        var html = document.getElementsByTagName('html')[0];
        loadingDiv.insertBefore(imgNode, null);
        html.insertBefore(loadingDiv, null);

        var FIRST_SIGHT = {{ first_sight ? 'true' : 'false' }};
    </script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/x-icon">
    <link href="{{ asset('apple-touch-icon.png') }}" rel="apple-touch-icon" type="image/png">
    <link href="{{ asset('apple-touch-icon.png') }}" rel="apple-touch-icon-precomposed" type="image/png">

    {% stylesheets
        'bundles/home/css/index.css'
        'lib/font-awesome/css/font-awesome.min.css'
        'lib/eds-ui/dist/css/edsUI.css'
        filter='cssrewrite' %}

        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>

<body>

<div class="the-content" {% if first_sight ==  true %}style="display: none;"{% endif %} >
    <div id="wrapper">
        <h1>YESKN | <a href="{{ path('home_default_resume') }}">about</a></h1>
        <h2 style="font-size:12px">To be a stronger indie development.</h2>

        <div id="icon-link">
            <a href="mailto:admin@yeskn.com"><i class="fa fa-envelope-o"></i></a>
            <a href="http://github.com/jaggle" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/jj.style" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="javascript:void (0);"><i class="fa fa-wechat"></i></a>
            <a href="https://t.me/final_explorer" target="_blank"><i class="fa fa-telegram"></i></a>
        </div>
    </div>

    <div class="post-list">
        <p><a href="https://blog.yeskn.com" target="_blank">夜色空凝</a></p>
        <p><a href="https://www.geekerism.com" target="_blank">极客主义 - Geekerism</a></p>
        <p><a href="https://www.wpcast.net" target="_blank">WPCast - 免费的wordpress博客托管</a></p>
        <p><a href="https://www.vmoex.com" target="_blank">Vmoex - 二次元社区</a></p>
        <p><a href="https://ch.yeskn.com" target="_blank">夜色空凝 - 彩虹</a></p>
        <p><a href="{{ path('service_default_index') }}" target="_blank">services</a></p>
        <p><a href="https://7000media.yeskn.com" target="_blank">柒仟</a></p>
    </div>

    <canvas width="1478" height="884"></canvas>

    <div class="foots" style="">

        <p>

       <span>
            <a href="{{ path('home_default_index' , {'redirect':'https://google.com'}) }}" target="_blank">
                <img src="https://static.yeskn.com/google-logo-20x20.jpg" alt="" width="20px" height="20px">
            </a>
    </span>

            <span>
            <a href="{{ path('home_default_index',{'redirect':'http://symfony.com'}) }}" target="_blank">
                <img src="https://static.yeskn.com/symfony_black_03.png" alt="" width="20px" height="20px">
            </a>
        </span>


            <span>
            <a style="position: relative;top: -5px"
               href="{{ path('home_default_index',{'redirect':'http://www.miitbeian.gov.cn/publish/query/indexFirst.action'}) }}"
               target="_blank">
                鄂ICP备15018755号
            </a>
    </span>
        </p>
    </div>
</div>

{% javascripts
    'lib/jquery/dist/jquery.min.js'
    'assets-private/js/color-line.js'
    'lib/eds-ui/dist/js/edsUI.js'
    'assets-private/js/common.js'
    filter='uglifyjs2' %}

<script src="{{ asset_url }}"></script>

{% endjavascripts %}

{% include '@Home/Default/js-templates/wechat-modal.html.twig' %}

</body>
</html>
