{% extends "base.html.twig" %}

{% block main %}
    <h1>Upload Photo</h1>
    {{ form_start(form) }}
    {{ form_row(form.path) }}
    {{ form_row(form.name) }}
    <input type="submit" value="Upload" class="btn btn-primary" />
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}

    <div class="section actions">
        <a href="{{ path('photo_index') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-photo"></i> View Photos
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}